# used by `just deploy` to deploy to Phala Cloud: private key for DstackApp (Onchain KMS on Base).
# not required for local dev
PHALA_PRIVATE_KEY=0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
